
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

header p{
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

#title{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
}

/* ログイン・新規登録機能 */
#login,#sign{
    margin-top: 3%;
    width: 10%;
    padding: 1%;
    font-family: 'Zen Kurenaido', sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#signup{
    text-align: right;
    margin-right: 30px;
}

/* divレイアウト */
img{
    display: inline-block;
}

/* モノクロ版・カラー版サイズ指定 */
/* DIV1 */
/* 窓 */
#window{
    width: 23%;
    margin-left: 5%;
}
#window-c{
    width: 20%;
    margin-left: 5%;
    display: none;
}

/* 吹き出し */
/* #text{
    width: 9%;
    margin-bottom: 4%;
}
#text-c{
    width: 8%;
    margin-bottom: 40px;
    display: none;
} */

/* カレンダー */
#calendar{
    width: 8%;
}
#calendar-c{
    width: 8%;
    display: none;
}

/* 照明 */
#light{
    width: 8%;
    margin-left: 4%;
}
#light-c{
    width: 8%;
    margin-left: 4%;
    display: none;
}

/* 時計 */
#clock{
    width: 8%;
    margin-left: 4%;
    /* margin-bottom: 20; */
}
#clock-c{
    width: 6%;
    margin-left: 4%;
    display: none;
}

/* 絵画 */
#wall1{
    width: 23%;
    margin-left: 8%;
}
#wall1-c{
    width: 23%;
    margin-left: 8%;
    display: none;
}

/* DIV2 */
/* テレビ */
#tv{
    width: 15%;
}
#tv-c{
    width: 15%;
    display: none;
}

/* 人 */
#person1,#person2{
    width: 10%;
}
#person2{
    margin-left: 1%;
}

/* ソファー */
#sofa{
    width: 40%;
}
#sofa-c{
    width: 40%;
    display: none;
}

/* 棚 */
#chest{
    width: 15%;
    margin-left: 2%;
}
#chest-c{
    width: 15%;
    margin-left: 2%;
    display: none;
}

/* ノート */
#book{
    width: 13%;
    margin-top: 3%;
    margin-left: 39%;
}

#book-c{
    width: 13%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


/* 記録 */
#event{
    font-size: 120%;
    width: 15%;
    margin: 0px;
    padding: 5px;
    font-family: 'Zen Kurenaido', sans-serif;
    display: block;
    margin-left: 38%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


#book:hover{
    transform: scale(1.3,1.3);
    transition: 0.2s;
    cursor: pointer;
}

#event:hover,#login:hover,#sign:hover{
    background-color: rgb(63, 60, 60);
    color: white;
    text-decoration:none;
}

#event:hover ~ #book{
    transform: scale(1.3,1.3);
    transition: 0.2s;
}



#calendar:hover{
    animation-name: shake;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#calendar:hover ~ #text{
    animation-name: text;
}

/* アニメーション */
@keyframes shake{
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(5px, 5px) rotateZ(1deg)}
    50% {transform: translate(0px, 5px) rotateZ(0deg)}
    75% {transform: translate(5px, 0px) rotateZ(-3deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

@keyframes text{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

/* 背景文 */
#reason{
    margin-left: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}